body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.cards {
 
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputSearch {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-left: 4rem;
}